/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
/* toto je černá magie, na kterou nešahej! */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/*
BARVY
czechitas                 #b92e81
šedé pozadí stránky       #bdc3c7
tmavé pozadí pod textem   #31363b
dělítka mezi tlačítky     #3f464d
tlačítko portfolio        #e74c3c
tlačítko facebook         #3b5998
tlačítko twitter          #1da1f2
*/

/*Text profile*/

h1  {
  font-size: 25px;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.hlavicka {
  width: 100%;
  position: relative;
}

.obsah {
  padding: 20px;
  color: #bdc3c7;
  font-family: "Source Sans 3", sans-serif;
  font-size:14px ;
}

.profil {
  width: 250px;
  background-color: #31363b ;
  margin: 50px;
  box-shadow: 2px 2px 5px 2px gray;
}

body {
  background-color: #bdc3c7;
  margin: 15px 0 0 15px;
}

.montserrat-100 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.source-sans-3-regular {
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


/*Photo/Images*/

.foto {
  width: 100%;
}

.logo{
  position: absolute;
  bottom: -20px;
  background-color: #b92e81 ;
  border-radius: 50%;
  right: 20px;
}

/*Links buttons*/

.odkazy {
  padding: 0;
 }

.odkazy
li {
  display: inline-block;
  text-align: center;
  font-family: "Source Sans 3", sans-serif;
  font-size: 14px;
}

.odkazy,
a {
  display: block;
}

ul {
  padding: 0;
  margin-bottom: 0;
}

.portfolio {
  width: 100%;
  color:#bdc3c7 ;
  border-top: 1px solid #3f464d;
  border-bottom: 1px solid #3f464d;
  padding: 7px;
}

.portfolio:hover{
  background-color: #e74c3c ;
 }

 .facebook,
 .twitter {
  width: 50%;
  color: #bdc3c7;
  padding: 7px;
 }

 .twitter:hover{
  background-color: #1da1f2 ;
 }

 .facebook{
  border-right: 1px solid #3f464d;
 }

 .facebook:hover{
  background-color: #3b5998;
 }

 a {
  font-size: 16px;
  color:#bdc3c7;
  text-decoration: none;
  text-transform: uppercase;
 }

 .odkazy:hover {
  color: white;
 }



 